:root {
  --clr-primary-100: hsl(169, 29%, 86%);
  --clr-primary-300: hsl(169, 28%, 78%);
  --clr-primary-500: hsl(169, 17%, 68%);
  --clr-neutral-100: hsl(0, 0%, 79%);
  --clr-neutral-300: hsl(0, 0%, 39%);
  --clr-neutral-500: hsl(0, 0%, 10%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: input;
}

.op {
  display: hidden;
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
}

button {
  padding: 0;
  margin: 0;
  font-family: "Share Tech Mono", monospace;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-height: 100%;
  background: hsl(169, 36%, 68%);
}

#calculator {
  background: var(--clr-primary-500);
  border-radius: 15px;
  position: relative;
  box-shadow: -3px 3px 0px var(--clr-primary-300),
    -5px 5px 0px var(--clr-primary-100);
  width: 17.5rem;
  height: 25rem;
}

.logo {
  display: flex;
  align-items: center;
  color: rgb(255, 251, 211);
}

.screen-wrapper {
  display: grid;
  grid-template-rows: (3, 1fr);
  margin: 0.5rem;
  background-image: linear-gradient(45deg, var(--clr-neutral-300), black);
  border-radius: 15px 15px 0 0;
  padding: 0.5rem;
  gap: 0.25rem;
}

.screen {
  max-width: 100%;
  height: minmax(2rem, auto);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 8px;
  position: relative;
}

.lit {
  color: var(--clr-neutral-500);
  background-image: linear-gradient(
    315deg,
    #f1f1f1,
    var(--clr-neutral-100),
    var(--clr-neutral-300)
  );
}

.dimmed {
  background: transparent;
}

.dimmed .screen-content {
  color: white;
}

.screen-content {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  font-size: 1.5rem;
  height: minmax(1rem, auto);
  flex-wrap: wrap;
  max-width: 65%;
}

.screen input {
  padding: 0;
  margin: 0;
  font-family: "Share Tech Mono", monospace;
  outline: none;
  border: none;
  text-align: right;
  background: transparent;
  color: transparent;
  text-shadow: 0 0 0 var(--clr-neutral-500);
  width: 200px;
}

.log {
  color: var(--clr-neutral-100);
  font-weight: 100;
  font-size: 2rem;
  position: absolute;
  left: 1rem;
}

/* Keyboard styling */

#keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.25rem;
  width: 100%;
  padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  background: transparent;
}

.calc-button {
  color: var(--clr-neutral-100);
  border: 2px solid var(--clr-neutral-100);
  background-image: linear-gradient(
    45deg,
    var(--clr-neutral-500),
    var(--clr-neutral-300)
  );
  border-radius: 50%;
  width: 3rem;
  aspect-ratio: 1;
  font-size: 1.5rem;
  display: grid;
  align-items: center;
  justify-content: center;
  transform: color 0.25s;
  opacity: 0.9;
}

.calc-button:active {
  color: var(--clr-neutral-500);
  background-image: linear-gradient(
    45deg,
    var(--clr-neutral-100),
    var(--clr-neutral-300)
  );
  border: 2px solid var(--clr-neutral-500);
  font-size: 2rem;
}

#light:active {
  color: hsl(60, 80%, 54%);
}

#power-button:active {
  color: hsl(113, 78%, 48%);
}

.fa-question:active {
  color: var(--clr-primary-100);
}
